<mat-card class="example-card">
    <mat-card-header>
        <app-product-actions [likeState]="product.like" [shareState]="product.share" (handleUpdateProduct)="productUpdate($event)">
        </app-product-actions>
        <mat-card-title>{{product.price | formatMoney}}</mat-card-title>
        <mat-card-subtitle>{{product.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image alt="Photo" src="{{product.picture}}">


    <mat-card-content>
        <p>{{product.description | mkpEllipsis: 70}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="productUpdate('like')">{{likeButtonText}}</button>
        <button mat-button (click)="productUpdate('share')">SHARE</button>
    </mat-card-actions>
</mat-card>