.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.custom-menu {
    height: auto;
    padding: 0 16px;
    background: #bddbf5;
    font-weight: bold;
    a {
        padding:15px;
        color:#3e51b5;
        border-bottom: 7px solid transparent;
        &:hover,
        &.active {
            border-bottom: 7px solid #3e51b5;
        }
    }
}