<div class="stock-inventory">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-stock-branch
        [parent]="form">
    </app-stock-branch>

    <app-stock-selector
        [parent]="form"
        [products]="products"
        (added)="addStock($event)">
    </app-stock-selector>

    <app-stock-products
        [parent]="form"
        [map]="productMap"
        (removed)="removeStock($event)">
    </app-stock-products>

    <div class="stock-inventory__price"
        [ngStyle]="{'text-align' : 'right'}">
        Total: <b>{{ total | currency:'USD':'symbol'}}</b>
    </div>
    <div 
        class="stock-inventory__buttons"
        [ngStyle]="{'margin-top' : '40px'}">
        <button
            mat-r
            type="submit"
            [disabled]="!form.valid">
            Validate Stock
        </button>
    </div>
    <!-- <pre>{{ form.value | json }}</pre> -->
    </form>
</div>