:host {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    form {
      padding: 20px 0;
      line-height: 2.5rem;
    }
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 5px;
}