<div [formGroup]="parent">
    <div formGroupName="store">
        <input
            type="text"
            placeholder="Branch ID"
            formControlName="branch">
            <div 
                class="error" 
                *ngIf="required('branch')">
                Branch ID is required
            </div>
            <div 
                *ngIf="invalid"
                class="error" >
               Invalid branch code: 1 letter, 3 numbers
            </div>
            <div 
                *ngIf="unknown"
                class="error" >
               Unknown branch please check the id
            </div>
        <input
            type="text"
            placeholder="Code"
            formControlName="code">
            <div 
                *ngIf="required('code')"
                class="error" >
                Manager ID is required
            </div>
    </div>
</div>