<div class="stock-product" [formGroup]="parent">
    <div formArrayName="stock">
        <div
        *ngFor="let item of stocks; let i = index;">
        <div class="stock-product__content" [formGroupName]="i">
            <div class="stock-product__name">
                {{ getProduct(item.value.id).name }}
            </div>
            <div class="stock-product__price">
                {{ getProduct(item.value.id).price | currency:'USD':'symbol' }}
            </div>
            <input
                [ngStyle]="{'margin-left' : '10px'}"
                type="number"
                step="10"
                min="10"
                max="1000"
                formControlName="quantity">
            <button
                type="button"
                (click)="onRemove(item, i)">
                Remove
            </button>
        </div>
        </div>
    </div>
</div>